# SBT
boot/
lib_managed/
src_managed/
test-output/
target/
.history

# Scala
.worksheet
.sc

# Eclipse
.cache
.classpath
.project
.scala_dependencies
.settings
.target/
.history
.bin

# IntelliJ
.idea
.idea_modules/

# Misc
.log
/bin/
logs/
*~
data/
